apiVersion: metering.openshift.io/v1alpha1
kind: ReportGenerationQuery
metadata:
  name: "persistentvolumeclaim-phase-raw"
  labels:
    operator-metering: "true"
{{- block "extraMetadata" . }}
{{- end }}
spec:
  reportDataSources:
  - "persistentvolumeclaim-phase"
  columns:
  - name: namespace
    type: string
  - name: persistentvolumeclaim
    type: string
  - name: labels
    type: map<string, string>
    tableHidden: true
  - name: value
    type: double
  - name: phase
    type: string
  - name: timeprecision
    type: double
    unit: seconds
  - name: timestamp
    type: timestamp
    unit: date
  - name: dt
    type: string
  query: |
    SELECT
        labels['namespace'] as namespace,
        labels['persistentvolumeclaim'] as persistentvolumeclaim,
        labels,
        amount as value,
        labels['phase'] as phase,
        timeprecision,
        "timestamp",
        dt
    FROM {| dataSourceTableName "persistentvolumeclaim-phase" |}

---

apiVersion: metering.openshift.io/v1alpha1
kind: ReportGenerationQuery
metadata:
  name: "persistentvolumeclaim-usage-raw"
  labels:
    operator-metering: "true"
{{- block "extraMetadata" . }}
{{- end }}
spec:
  reportDataSources:
  - "persistentvolumeclaim-usage-bytes"
  columns:
  - name: namespace
    type: string
  - name: persistentvolumeclaim
    type: string
  - name: labels
    type: map<string, string>
    tableHidden: true
  - name: persistentvolumeclaim_usage_bytes
    type: double
    unit: bytes
  - name: timeprecision
    type: double
    unit: seconds
  - name: persistentvolumeclaim_usage_byte_seconds
    type: double
    unit: byte_seconds
  - name: timestamp
    type: timestamp
    unit: date
  - name: dt
    type: string
  query: |
    SELECT
        labels['exported_namespace'] as namespace,
        labels['persistentvolumeclaim'] as persistentvolumeclaim,
        labels,
        amount as persistentvolumeclaim_usage_bytes,
        timeprecision,
        amount * timeprecision as persistentvolumeclaim_usage_byte_seconds,
        "timestamp",
        dt
    FROM {| dataSourceTableName "persistentvolumeclaim-usage-bytes" |}

---

apiVersion: metering.openshift.io/v1alpha1
kind: ReportGenerationQuery
metadata:
  name: "persistentvolumeclaim-usage-with-phase-raw"
  labels:
    operator-metering: "true"
{{- block "extraMetadata" . }}
{{- end }}
spec:
  reportDataSources:
  - "persistentvolumeclaim-usage-bytes"
  - "persistentvolumeclaim-phase"
  columns:
  - name: namespace
    type: string
    unit: kubernetes_namespace
  - name: timestamp
    type: timestamp
    unit: date
  - name: persistentvolumeclaim
    type: string
  - name: phase_value
    type: string
  - name: value
    type: double
  - name: persistentvolumeclaim_usage_bytes
    type: double
    unit: bytes
  - name: dt
    type: string
  query: |
    SELECT phase.namespace, phase.timestamp, phase.persistentvolumeclaim, phase.phase, phase.value AS phase_value, persistentvolumeclaim_usage_bytes,dt
    FROM {| generationQueryViewName "persistentvolumeclaim-phase-raw" |} AS phase
    FULL OUTER JOIN
    {| generationQueryViewName "persistentvolumeclaim_usage_raw" |} AS usage
    ON phase.namespace=usage.namespace
    AND phase.persistentvolumeclaim=usage.persistentvolumeclaim
    AND phase.timestamp=usage.timestamp

---

apiVersion: metering.openshift.io/v1alpha1
kind: ReportGenerationQuery
metadata:
  name: "persistentvolumeclaim-usage"
  labels:
    operator-metering: "true"
{{- block "extraMetadata" . }}
{{- end }}
spec:
  reportQueries:
  - "persistentvolumeclaim-usage-with-phase-raw"
  view:
    disabled: true
  columns:
  - name: namespace
    type: string
    unit: kubernetes_namespace
  - name: timestamp
    type: timestamp
    unit: date
  - name: persistentvolumeclaim
    type: string
    unit: kubernetes_persistentvolumeclaim
  - name: phase_value
    type: string
  - name: value
    type: double
  - name: persistentvolumeclaim_usage_bytes
    type: double
    unit: bytes
  - name: dt
    type: string
  inputs:
  - name: ReportingStart
  - name: ReportingEnd
  query: |
    SELECT namespace, timestamp, persistentvolumeclaim, phase, phase_value, persistentvolumeclaim_usage_bytes
    FROM {| generationQueryViewName "persistentvolumeclaim-usage-with-phase-raw" |}
    WHERE "timestamp" >= timestamp '{| default .Report.ReportingStart .Report.Inputs.ReportingStart | prestoTimestamp |}'
    AND "timestamp" < timestamp '{| default .Report.ReportingEnd .Report.Inputs.ReportingEnd | prestoTimestamp |}'
    AND dt >= '{| default .Report.ReportingStart .Report.Inputs.ReportingStart | prometheusMetricPartitionFormat |}'
    AND dt <= '{| default .Report.ReportingEnd .Report.Inputs.ReportingEnd | prometheusMetricPartitionFormat |}'
