reporting-operator:
  spec:
    config:
      prometheusURL: "https://prometheus-k8s.openshift-monitoring.svc:9091/"
      maxQueryLength: "10000000"
      tls:
        enabled: true
        createSecret: false
        secretName: "reporting-operator-api-tls-secrets"
      metricsTLS:
        enabled: true
        createSecret: false
        secretName: "reporting-operator-metrics-tls-secrets"
    service:
      annotations:
        "service.alpha.openshift.io/serving-cert-secret-name": "reporting-operator-api-tls-secrets"
    metricsService:
      annotations:
        "service.alpha.openshift.io/serving-cert-secret-name": "reporting-operator-metrics-tls-secrets"
    image:
      tag: latest

presto:
  spec:
    presto:
      config:
        maxQueryLength: "10000000"
      securityContext:
        fsGroup: null
    hive:
      securityContext:
        fsGroup: null
hdfs:
  spec:
    enabled: true
    config:
      datanodeDataDirPerms: "775"

    securityContext:
      fsGroup: null

superset:
  enabled: false
  datasources:
  - fileName: "metering-presto.yaml"
    content: |-
      databases:
      - allow_ctas: true
        database_name: metering-presto
        expose_in_sqllab: true
        extra: "{\r\n    \"metadata_params\": {},\r\n    \"engine_params\": {},\r\n    \"\
          metadata_cache_timeout\": {},\r\n    \"schemas_allowed_for_csv_upload\": []\r\n\
          }\r\n"
        sqlalchemy_uri: presto://presto:8080
        tables: []
