metering-operator:
  config:
    prometheusURL: "https://prometheus-k8s.openshift-monitoring.svc:9090/"

  image:
    tag: latest

presto:
  presto:
    securityContext:
      fsGroup: null
  hive:
    securityContext:
      fsGroup: null
hdfs:
  enabled: true

  securityContext:
    fsGroup: null

