spec:
  awsBillingReportDataSource:
    enabled: false

  defaultReportDataSources:
    pod-request-cpu-cores:
      spec:
        promsum:
          query: "pod-request-cpu-cores"
    pod-limit-cpu-cores:
      spec:
        promsum:
          query: "pod-limit-cpu-cores"
    pod-usage-cpu-cores:
      spec:
        promsum:
          query: "pod-usage-cpu-cores"

    pod-request-memory-bytes:
      spec:
        promsum:
          query: "pod-request-memory-bytes"
    pod-limit-memory-bytes:
      spec:
        promsum:
          query: "pod-limit-memory-bytes"
    pod-usage-memory-bytes:
      spec:
        promsum:
          query: "pod-usage-memory-bytes"
    persistentvolumeclaim-request-bytes:
      spec:
        promsum:
          query: "persistentvolumeclaim-request-bytes"
    pod-persistentvolumeclaim-request-info:
      spec:
        promsum:
          query: "pod-persistentvolumeclaim-request-info"

    persistentvolumeclaim-capacity-bytes:
      spec:
        promsum:
          query: "persistentvolumeclaim-capacity-bytes"
    persistentvolumeclaim-usage-bytes:
      spec:
        promsum:
          query: "persistentvolumeclaim-usage-bytes"
    persistentvolumeclaim-phase:
      spec:
        promsum:
          query: "persistentvolumeclaim-phase"                                                                                                       

    node-allocatable-memory-bytes:
      spec:
        promsum:
          query: "node-allocatable-memory-bytes"
    node-capacity-memory-bytes:
      spec:
        promsum:
          query: "node-capacity-memory-bytes"

    node-allocatable-cpu-cores:
      spec:
        promsum:
          query: "node-allocatable-cpu-cores"
    node-capacity-cpu-cores:
      spec:
        promsum:
          query: "node-capacity-cpu-cores"


  defaultStorage:
    create: true
    name: "hive-hdfs"
    isDefault: true
    type: "hive"
    hive:
      tableProperties:
        location: "hdfs://hdfs-namenode-proxy:9820/operator_metering/storage/"
