apiVersion: metering.openshift.io/v1alpha1
kind: Metering
metadata:
  name: "{{ .Values.deployPlatform }}-metering"
spec:
  monitoring:
    enabled: false

  openshift-reporting:
    spec:
      awsBillingReportDataSource:
        enabled: {{ .Values.enableAwsBilling }}
        bucket: "{{ .Values.awsBillingBucket }}"
        prefix: "{{ .Values.awsBillingBucketPrefix }}"
        region: "{{ .Values.awsBillingBucketRegion }}"

  reporting-operator:
    spec:
      image:
        repository: "{{ .Values.reportingOperatorDeployRepo }}"
        tag: "{{ .Values.reportingOperatorDeployTag }}"

{{- if .Values.imagePullSecretName }}
      imagePullSecrets: [ { name: "{{ .Values.imagePullSecretName }}" } ]
{{- end }}
{{- if .Values.dateAnnotationValue }}
      annotations: { "metering.deploy-custom/deploy-time": "{{ .Values.dateAnnotationValue }}" }
{{- end }}
{{- if .Values.terminationGracePeriodSeconds  }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
{{- end }}

      config:
        logLevel: "debug"
        disablePromsum: {{ .Values.disablePromsum }}
        awsAccessKeyID: "{{ .Values.awsAccessKeyId }}"
        awsSecretAccessKey: "{{ .Values.awsSecretAccessKey }}"

        # decrease backfill for e2e since we run for a short period of time
        # and run reports against the last 10 minutes of data
        prometheusDatasourceMaxImportBackfillDuration: "15m"

        # increase the poll interval for tests so that the Reports can run
        # sooner
        promsumPollInterval: "30s"

        # set chunk/query size to a value suitable for the backfill duration
        prometheusDatasourceMaxQueryRangeDuration: "5m"
        promsumChunkSize: "5m"

        # e2e runs a per-minute report so the metric resolution should be 60s
        # or less
        promsumStepSize: "60s"

  presto:
    spec:
{{- if .Values.imagePullSecretName }}
      imagePullSecrets: [ { name: "{{ .Values.imagePullSecretName }}" } ]
{{- end }}
      config:
        awsAccessKeyID: "{{ .Values.awsAccessKeyId }}"
        awsSecretAccessKey: "{{ .Values.awsSecretAccessKey }}"
      presto:
  {{- if .Values.dateAnnotationValue }}
        annotations: { "metering.deploy-custom/deploy-time": "{{ .Values.dateAnnotationValue }}" }
  {{- end }}
  {{- if .Values.terminationGracePeriodSeconds  }}
        terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
  {{- end }}
      hive:
  {{- if .Values.dateAnnotationValue }}
        annotations: { "metering.deploy-custom/deploy-time": "{{ .Values.dateAnnotationValue }}" }
  {{- end }}
  {{- if .Values.terminationGracePeriodSeconds  }}
        terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
  {{- end }}
{{- if or .Values.hiveMetastoreMemory .Values.hiveMetastoreCpu .Values.hiveMetastoreStorageSize }}
        metastore:
          {{- if or .Values.hiveMetastoreMemory .Values.hiveMetastoreCpu }}
          resources:
            requests:
              memory: "{{ .Values.hiveMetastoreMemory }}"
              cpu: "{{ .Values.hiveMetastoreCpu }}"
            limits:
              memory: "{{ .Values.hiveMetastoreMemory }}"
              cpu: "{{ .Values.hiveMetastoreCpu }}"
          {{- end }}
          {{- if .Values.hiveMetastoreStorageSize }}
          storage:
            size: "{{ .Values.hiveMetastoreStorageSize }}"
          {{- end }}
{{- end }}

  hdfs:
    spec:
{{- if .Values.imagePullSecretName }}
      imagePullSecrets: [ { name: "{{ .Values.imagePullSecretName }}" } ]
{{- end }}
      datanode:
  {{- if .Values.dateAnnotationValue }}
        annotations: { "metering.deploy-custom/deploy-time": "{{ .Values.dateAnnotationValue }}" }
  {{- end }}
  {{- if .Values.terminationGracePeriodSeconds  }}
        terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
  {{- end }}
  {{- if .Values.hdfsDatanodeMemory }}
        resources:
          requests:
            memory: "{{ .Values.hdfsDatanodeMemory }}"
          limits:
            memory: "{{ .Values.hdfsDatanodeMemory }}"
  {{- end }}
  {{- if .Values.hdfsDatanodeStorageSize }}
        storage:
          size: {{ .Values.hdfsDatanodeStorageSize }}
  {{- end }}
      namenode:
  {{- if .Values.dateAnnotationValue }}
        annotations: { "metering.deploy-custom/deploy-time": "{{ .Values.dateAnnotationValue }}" }
  {{- end }}
  {{- if .Values.terminationGracePeriodSeconds  }}
        terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
  {{- end }}
  {{- if .Values.hdfsNamenodeMemory }}
        resources:
          requests:
            memory: "{{ .Values.hdfsNamenodeMemory }}"
          limits:
            memory: "{{ .Values.hdfsNamenodeMemory }}"
  {{- end }}
  {{- if .Values.hdfsNamenodeStorageSize   }}
        storage:
          size: {{ .Values.hdfsNamenodeStorageSize }}
  {{- end }}
