apiVersion: metering.openshift.io/v1alpha1
kind: Metering
metadata:
  name: "operator-metering"
spec:
  defaultStorage:
    create: true
     name: "local-storage"
     isDefault: true
     type: "hive"
     hive:
       tableProperties:
         # do not change this
         location: "/user/hive/warehouse"
  presto:
    spec:
      config:
        sharedVolume:
          enabled: true
          storage:
            # change REPLACEME to the name of your PVC
            persistentVolumeClaimStorageClass: REPLACEME

  hdfs:
    enabled: false
