{{- if .Values.monitoring.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: metering-presto
{{- block "extraMetadata" . }}
{{- end }}
spec:
  jobLabel: app
  endpoints:
  - port: metrics
    interval: 30s
    scheme: "http"
  selector:
    matchLabels:
      app: presto
      metrics: "true"
  namespaceSelector:
    matchNames:
    - {{ .Release.Namespace }}
{{- end }}
