kind: Service
apiVersion: v1
metadata:
  name: metering
  labels:
    app: metering
{{- if .Values.service.annotations }}
  annotations:
{{ toYaml .Values.service.annotations | indent 4 }}
{{- end }}
{{- block "extraMetadata" . }}
{{- end }}
spec:
  type: "{{ .Values.service.type }}"
  selector:
    app: metering
  ports:
  - name: http
    protocol: TCP
    port: 8080
{{- if .Values.authProxy.enabled }}
    targetPort: auth-proxy
{{- ***REMOVED*** }}
    targetPort: http
{{- end }}
{{- if and (eq (lower .Values.service.type) "nodeport" "loadbalancer") .Values.service.nodePort }}
    nodePort: {{ .Values.service.nodePort }}
{{- end }}

---
kind: Service
apiVersion: v1
metadata:
  name: metering-metrics
  labels:
    app: metering
{{- block "extraMetadata" . }}
{{- end }}
spec:
  selector:
    app: metering
  ports:
  - protocol: TCP
    port: 8082
    targetPort: metrics
    name: metrics
