apiVersion: chargeback.coreos.com/v1alpha1
kind: ReportPrometheusQuery
metadata:
  name: "node-allocatable-memory-bytes"
  labels:
    tectonic-chargeback: "true"
{{- block "extraMetadata" . }}
{{- end }}
spec:
  query: |
    kube_node_status_allocatable_memory_bytes

---

apiVersion: chargeback.coreos.com/v1alpha1
kind: ReportPrometheusQuery
metadata:
  name: "node-allocatable-cpu-cores"
  labels:
    tectonic-chargeback: "true"
{{- block "extraMetadata" . }}
{{- end }}
spec:
  query: |
    kube_node_status_allocatable_cpu_cores
