apiVersion: v1
kind: Service
metadata:
  name: hive-server
  labels:
    app: hive
    hive: server
{{- block "extraMetadata" . }}
{{- end }}
spec:
  ports:
  - name: thrift
    port: 10000
    protocol: TCP
    targetPort: 10000
  - name: ui
    port: 10002
    protocol: TCP
    targetPort: 10002
  selector:
    app: hive
    hive: server
  sessionAffinity: None
  type: ClusterIP
