---

- name: Configure TLS
  block:
  - include_tasks: update_meteringconfig_status.yml
    vars:
      current_conditions:
        type: "Running"
        status: "True"
        message: "Configuring TLS"
        lastTransitionTime: "{{ now(utc=False).isoformat() + 'Z' }}"

  - name: Create temporary directory to store all the necessary certificates/keys
    tempfile:
      suffix: certificates
      state: directory
    register: certificates_dir

  - name: Generate the metering root certificate authority
    include_tasks: configure_root_ca.yml

  - name: Configure TLS and client-side authentication in Presto
    include_tasks: configure_presto_tls.yml

  - name: Configure TLS and authentication in Hive
    include_tasks: configure_hive_tls.yml

  - name: Configure TLS and authentication in the reporting-operator
    include_tasks: configure_reporting_operator_tls.yml
  rescue:
  - include_tasks: update_meteringconfig_status.yml
    vars:
      end_play_after_updating_status: true
      current_conditions:
        type: "Invalid"
        status: "True"
        message: |
          "Failed task name: {{ ansible_failed_task.name }}"
          "Failed task message: {{ ansible_failed_result.msg }}"
        lastTransitionTime: "{{ now(utc=False).isoformat() + 'Z' }}"
  always:
  - name: Cleanup the temporary directory which held the certificates and keys
    file:
      path: "{{ certificates_dir.path }}"
      state: absent

- include_tasks: update_meteringconfig_status.yml
  vars:
    current_conditions:
      type: "Running"
      status: "True"
      message: "Finished configuring TLS"
      lastTransitionTime: "{{ now(utc=False).isoformat() + 'Z' }}"

- name: Log Events for validating TLS
  k8s_event:
    state: present
    name: Validate TLS
    namespace: "{{ meta.namespace }}"
    message: Validating TLS
    reason: Created
    reportingComponent: Reporting components
    type: Normal
    source:
      component: Metering components
    involvedObject:
      apiVersion: metering.openshift.io
      kind: MeteringConfig
      name: tls
      namespace: "{{ meta.namespace }}"