# A headless service to create DNS records.
apiVersion: v1
kind: Service
metadata:
  name: hdfs-namenode
  labels:
    app: hdfs-namenode
{{- block "extraMetadata" . }}
{{- end }}
spec:
  ports:
  - port: 8020
    name: fs
  clusterIP: None
  selector:
    app: hdfs-namenode

---

apiVersion: v1
kind: Service
metadata:
  name: hdfs-namenode-proxy
  labels:
    app: hdfs-namenode
{{- block "extraMetadata" . }}
{{- end }}
spec:
  ports:
  - port: 8020
    name: fs
  selector:
    app: hdfs-namenode

---

apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: hdfs-namenode
  labels:
    app: hdfs-namenode
{{- block "extraMetadata" . }}
{{- end }}
spec:
  serviceName: "hdfs-namenode"
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: hdfs-namenode
      annotations:
        hdfs-configmap-hash: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      terminationGracePeriodSeconds: 5
      securityContext:
{{ toYaml .Values.securityContext | indent 8 }}
      containers:
      - name: hdfs-namenode
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: ["namenode-entrypoint.sh"]
        env:
        - name: CORE_CONF_fs_defaultFS
          valueFrom:
            configMapKeyRef:
              name: hdfs-config
              key: default-fs
        - name: CLUSTER_NAME
          value: hdfs-k8s
        - name: HADOOP_LOGLEVEL
          valueFrom:
            configMapKeyRef:
              name: hdfs-config
              key: log-level
        - name: MY_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: MY_MEM_REQUEST
          valueFrom:
            resourceFieldRef:
              containerName: hdfs-namenode
              resource: requests.memory
        - name: MY_MEM_LIMIT
          valueFrom:
            resourceFieldRef:
              containerName: hdfs-namenode
              resource: limits.memory
        - name: JAVA_MAX_MEM_RATIO
          value: "50"
        ports:
        - containerPort: 8020
          name: fs
        volumeMounts:
        - name: hdfs-namenode-data
          mountPath: /hadoop/dfs/name
          subPath: hadoop/dfs/name
        resources:
{{ toYaml .Values.namenode.resources | indent 10 }}
      serviceAccount: hdfs
      imagePullSecrets:
      - name: coreos-pull-secret
  volumeClaimTemplates:
  - metadata:
      name: "hdfs-namenode-data"
      labels:
        app: hdfs-namenode
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: {{ .Values.namenode.storage.class }}
      resources:
        requests:
          storage: {{ .Values.namenode.storage.size }}
