spec:
  presto:
    image:
      repository: quay.io/coreos/metering-presto
      tag: latest
      pullPolicy: Always

    securityContext:
      runAsNonRoot: true

    config:
      discoveryURI: http://presto:8080
      environment: production
      hiveMetastoreURI: thrift://hive-metastore:9083

    coordinator:
      terminationGracePeriodSeconds: 30
      config:
        logLevel: info
        nodeSchedulerIncludeCoordinator: true
        taskMaxWorkerThreads: null
        taskMinDrivers: null

      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - presto
            topologyKey: "kubernetes.io/hostname"

      resources:
        requests:
          memory: "1536Mi"
          cpu: "300m"
        limits:
          memory: "2048Mi"
          cpu: "1000m"

    worker:
      replicas: 0
      terminationGracePeriodSeconds: 30
      config:
        logLevel: info
        taskMaxWorkerThreads: null
        taskMinDrivers: null

      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - presto
            topologyKey: "kubernetes.io/hostname"

      resources:
        requests:
          memory: "1536Mi"
          cpu: "300m"
        limits:
          memory: "2048Mi"
          cpu: "1000m"

    labels: {}
    annotations: {}

  hive:
    image:
      repository: quay.io/coreos/metering-hive
      tag: latest
      pullPolicy: Always

    config:
      defaultfs: null
      dbConnectionURL: "jdbc:derby:;databaseName=/var/lib/hive/data;create=true"
      dbConnectionDriver: "org.apache.derby.jdbc.EmbeddedDriver"
      dbConnectionUsername: null
      dbConnectionPassword: null
      enableMetastoreSchemaVerification: false
      autoCreateMetastoreSchema: true
      defaultFileFormat: "orc"
      defaultCompression: "zlib"
      metastoreURIs: "thrift://hive-metastore:9083"

    securityContext:
      runAsNonRoot: true

    terminationGracePeriodSeconds: 30

    metastore:
      config:
        logLevel: info

      resources:
        requests:
          memory: "650Mi"
          cpu: "100m"
        limits:
          memory: "650Mi"
          cpu: "500m"
      storage:
        create: true
        # Default to null, which means using the default storage class if the
        # defaultStorageClass admission plugin is turned on (is by default on
        # Tectonic).
        class: null
        size: "5Gi"

    server:
      config:
        logLevel: info
      resources:
        requests:
          memory: "400Mi"
          cpu: "100m"
        limits:
          memory: "400Mi"
          cpu: "100m"

    labels: {}
    annotations: {}

  config:
    awsRegion: ""
    awsAccessKeyID: ""
    awsSecretAccessKey: ""
    awsCredentialsSecretName: presto-aws-credentials-secrets
    createAwsCredentialsSecret: true
