apiVersion: v1
kind: Service
metadata:
  name: hive-metastore
  labels:
    app: hive
    hive: metastore
spec:
  ports:
  - name: meta
    port: 9083
    protocol: TCP
    targetPort: 9083
  selector:
    app: hive
    hive: metastore
  sessionAffinity: None
  type: ClusterIP
