apiVersion: v1
kind: ConfigMap
metadata:
  name: presto-common-config
data:
  initialize_presto.sh: |
    #!/bin/bash
    set -e

{{- if .Values.presto.spec.presto.config.auth.enabled }}
    cat $PRESTO_CLIENT_KEYFILE $PRESTO_CLIENT_CRTFILE $PRESTO_CLIENT_CA_CRTFILE > $PRESTO_TRUSTSTORE_PEM
{{- end }}
{{- if .Values.presto.spec.presto.config.tls.enabled }}
    # copy all necessary tls.crt/tls.key from read-only secret volumes - append server bundle and CA cert to truststore
    cat $PRESTO_SERVER_KEYFILE $PRESTO_SERVER_CRTFILE $PRESTO_CA_CRTFILE > $PRESTO_KEYSTORE_PEM
    cat $PRESTO_SERVER_KEYFILE $PRESTO_SERVER_CRTFILE $PRESTO_CA_CRTFILE >> $PRESTO_TRUSTSTORE_PEM
{{- end }}

    cp -v -L -r -f /presto-etc/* /opt/presto/presto-server/etc/

  entrypoint.sh: |
    #!/bin/bash
    set -e

    # add node id to node config
    NODE_CONFIG="${PRESTO_HOME}/etc/node.properties"
    # ensure there's a newline between the last item in the config and what we add
    echo "" >> $NODE_CONFIG
    if ! grep -q -F 'node.id' "$NODE_CONFIG"; then
      NODE_ID="node.id=$MY_NODE_ID"
      echo "Adding $NODE_ID to $NODE_CONFIG"
      echo "$NODE_ID" >> "$NODE_CONFIG"
    fi

    # add AWS creds to hive catalog properties
    HIVE_CATALOG_CONFIG="${PRESTO_HOME}/etc/catalog/hive.properties"
    # ensure there's a newline between the last item in the config and what we add
    echo "" >> $HIVE_CATALOG_CONFIG
    if ! grep -q -F 'hive.s3.aws-access-key' "$HIVE_CATALOG_CONFIG"; then
      echo "Adding hive.s3.aws-access-key and hive.s3.aws-secret-key to $HIVE_CATALOG_CONFIG"
      echo "hive.s3.aws-access-key=$AWS_ACCESS_KEY_ID" >> "$HIVE_CATALOG_CONFIG"
      echo "hive.s3.aws-secret-key=$AWS_SECRET_ACCESS_KEY" >> "$HIVE_CATALOG_CONFIG"
    fi
  
 

    # add UID to /etc/passwd if missing
    if ! whoami &> /dev/null; then
        if [ -w /etc/passwd ]; then
            echo "Adding user ${USER_NAME:-presto} with current UID $(id -u) to /etc/passwd"
            # Remove existing entry with user first.
            # cannot use sed -i because we do not have permission to write new
            # files into /etc
            sed  "/${USER_NAME:-presto}:x/d" /etc/passwd > /tmp/passwd
            # add our user with our current user ID into passwd
            echo "${USER_NAME:-presto}:x:$(id -u):0:${USER_NAME:-presto} user:${HOME}:/sbin/nologin" >> /tmp/passwd
            # overwrite existing contents with new contents (cannot replace the
            # file due to permissions)
            cat /tmp/passwd > /etc/passwd
            rm /tmp/passwd
        fi
    fi

    exec "$@"
