apiVersion: metering.openshift.io/v1alpha1
kind: Report
metadata:
  name: cluster-cpu-utilization-hourly
spec:
  generationQuery: "cluster-cpu-utilization"
  inputs:
  - name: ClusterCpuCapacityReportName
    value: cluster-cpu-capacity-hourly
  - name: ClusterCpuUsageReportName
    value: cluster-cpu-usage-hourly
  schedule:
    period: "hourly"

---

apiVersion: metering.openshift.io/v1alpha1
kind: Report
metadata:
  name: cluster-memory-utilization-hourly
spec:
  generationQuery: "cluster-memory-utilization"
  inputs:
  - name: ClusterMemoryCapacityReportName
    value: cluster-memory-capacity-hourly
  - name: ClusterMemoryUsageReportName
    value: cluster-memory-usage-hourly
  schedule:
    period: "hourly"

