name: metering-operator

cr:
  create: true
  name: "operator-metering"
  spec: {}

crd:
  create: true
  apiGroup: metering.openshift.io
  apiVersion: v1alpha1

  plural: meterings
  singular: metering
  kind: Metering
  listKind: MeteringList

  annotations:
    catalog.app.coreos.com/displayName: "Metering"
    catalog.app.coreos.com/description: "An instance of Metering"

targetNamespacesDownwardAPIValueFrom:
  fieldRef:
    fieldPath: "metadata.annotations['olm.targetNamespaces']"

image:
  repository: quay.io/coreos/metering-helm-operator
  tag: latest
  pullPolicy: Always

serviceAccountName: metering-operator

rbac:
  clusterRoleName: metering-operator
  clusterRoleRules:
  # grants access to metrics data
  - apiGroups:
    - ""
    resources:
    - namespaces
    verbs:
    - get
  # used by openshift auth-proxy
  - apiGroups:
    - authorization.k8s.io
    resources:
    - subjectaccessreviews
    verbs:
    - create
  # used by openshift auth-proxy
  - apiGroups:
    - authentication.k8s.io
    resources:
    - tokenreviews
    verbs:
    - create
  # grants access to creating clusterroles and clusterrolebindings for
  # reporting-operator
  - apiGroups:
    - rbac.authorization.k8s.io
    resources:
    - clusterrolebindings
    - clusterroles
    verbs:
    - create
    - delete
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch

  roleName: metering-operator
  rules:
  # grant access to metering resources
  - apiGroups: ["metering.openshift.io"]
    resources: ["*"]
    verbs: ["*"]
  # grant access to monitoring resources for optional monitoring integration
  - apiGroups: ["monitoring.coreos.com"]
    resources: ["*"]
    verbs: ["*"]
  # access to most core resources that can be created by metering
  - apiGroups:
    - ""
    resources:
    - pods
    - pods/attach
    - pods/exec
    - pods/portforward
    - pods/proxy
    verbs:
    - create
    - delete
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - ""
    resources:
    - configmaps
    - endpoints
    - persistentvolumeclaims
    - replicationcontrollers
    - replicationcontrollers/scale
    - secrets
    - serviceaccounts
    - services
    - services/proxy
    verbs:
    - create
    - delete
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - ""
    resources:
    - bindings
    - events
    - limitranges
    - namespaces/status
    - pods/log
    - pods/status
    - replicationcontrollers/status
    - resourcequotas
    - resourcequotas/status
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - ""
    resources:
    - events
    verbs:
    - create
    - update
    - patch
  - apiGroups:
    - ""
    resources:
    - namespaces
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - apps
    resources:
    - deployments
    - deployments/rollback
    - deployments/scale
    - statefulsets
    verbs:
    - create
    - delete
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - batch
    resources:
    - cronjobs
    - jobs
    verbs:
    - create
    - delete
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - extensions
    resources:
    - daemonsets
    - deployments
    - deployments/rollback
    - deployments/scale
    - replicasets
    - replicasets/scale
    - replicationcontrollers/scale
    verbs:
    - create
    - delete
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - rbac.authorization.k8s.io
    resources:
    - rolebindings
    - roles
    verbs:
    - create
    - delete
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - route.openshift.io
    resources:
    - routes
    verbs:
    - create
    - get
    - list
    - watch
    - update
    - delete
