apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hive-metastore
  labels:
    app: hive
    hive: metastore
spec:
  serviceName: hive-metastore
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: hive
      hive: metastore
{{- if .Values.hive.spec.labels }}
{{ toYaml .Values.hive.spec.labels | indent 6 }}
{{- end }}
  template:
    metadata:
      labels:
        app: hive
        hive: metastore
{{- if .Values.hive.spec.labels }}
{{ toYaml .Values.hive.spec.labels | indent 8 }}
{{- end }}
      annotations:
        hive-configmap-hash: {{ include (print $.Template.BasePath "/hive/hive-configmap.yaml") . | sha256sum }}
        hive-scripts-hash: {{ include (print $.Template.BasePath "/hive/hive-scripts-configmap.yaml") . | sha256sum }}
        hive-jmx-config-hash: {{ include (print $.Template.BasePath "/hive/hive-jmx-config.yaml") . | sha256sum }}
        hive-aws-credentials-secret-hash: {{ include (print $.Template.BasePath "/hive/hive-aws-credentials-secret.yaml") . | sha256sum }}
{{- if .Values.hive.spec.annotations }}
{{ toYaml .Values.hive.spec.annotations | indent 8 }}
{{- end }}
    spec:
      securityContext:
{{ toYaml .Values.hive.spec.securityContext | indent 8 }}
{{- if .Values.hive.spec.metastore.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.hive.spec.metastore.nodeSelector | indent 8 }}
{{- end }}
{{- if .Values.hive.spec.metastore.tolerations }}
      tolerations:
{{ toYaml .Values.hive.spec.metastore.tolerations | indent 8 }}
{{- end }}
{{- if .Values.hive.spec.metastore.affinity }}
      affinity:
{{ toYaml .Values.hive.spec.metastore.affinity | indent 8 }}
{{- end }}
      containers:
      - name: metastore
        command: ["/hive-scripts/entrypoint.sh"]
        args: ["/opt/hive/bin/hive", "--service", "metastore"]
        image: "{{ .Values.hive.spec.image.repository }}:{{ .Values.hive.spec.image.tag }}"
        imagePullPolicy: {{ .Values.hive.spec.image.pullPolicy }}
        ports:
        - name: meta
          containerPort: 9083
          protocol: TCP
        - containerPort: 8082
          name: metrics
{{- if .Values.hive.spec.metastore.readinessProbe }}
        readinessProbe:
{{ toYaml .Values.hive.spec.metastore.readinessProbe | indent 10 }}
{{- end }}
{{- if .Values.hive.spec.metastore.livenessProbe }}
        livenessProbe:
{{ toYaml .Values.hive.spec.metastore.livenessProbe | indent 10 }}
{{- end }}
        env:
        - name: HIVE_LOGLEVEL
          value: {{ upper .Values.hive.spec.metastore.config.logLevel | quote}}
{{- if .Values.hive.spec.metastore.config.jvm.initialRAMPercentage }}
        - name: JVM_INITIAL_RAM_PERCENTAGE
          value: "{{ .Values.hive.spec.metastore.config.jvm.initialRAMPercentage }}"
{{- end }}
{{- if .Values.hive.spec.metastore.config.jvm.maxRAMPercentage }}
        - name: JVM_MAX_RAM_PERCENTAGE
          value: "{{ .Values.hive.spec.metastore.config.jvm.maxRAMPercentage }}"
{{- end }}
{{- if .Values.hive.spec.metastore.config.jvm.maxRAMPercentage }}
        - name: JVM_MIN_RAM_PERCENTAGE
          value: "{{ .Values.hive.spec.metastore.config.jvm.minRAMPercentage }}"
{{- end }}
{{ include "hive-env" . | indent 8 }}
        - name: MY_MEM_REQUEST
          valueFrom:
            resourceFieldRef:
              containerName: metastore
              resource: requests.memory
        - name: MY_MEM_LIMIT
          valueFrom:
            resourceFieldRef:
              containerName: metastore
              resource: limits.memory
        volumeMounts:
        - name: hive-config
          mountPath: /hive-config
        - name: hive-scripts
          mountPath: /hive-scripts
{{- if .Values.hive.spec.config.useHadoopConfig }}
        - name: hadoop-config
          mountPath: /hadoop-config
{{- end }}
        - name: hive-jmx-config
          mountPath: /opt/jmx_exporter/config
        - name: hive-metastore-db-data
          mountPath: /var/lib/hive
        # openshift requires volumeMounts for VOLUMEs in a Dockerfile
        - name: namenode-empty
          mountPath: /hadoop/dfs/name
        - name: datanode-empty
          mountPath: /hadoop/dfs/data
        - name: hadoop-logs
          mountPath: /opt/hadoop/logs
{{- if .Values.hive.spec.config.sharedVolume.enabled }}
        - name: hive-warehouse-data
          mountPath: {{ .Values.hive.spec.config.sharedVolume.mountPath }}
{{- end }}
        resources:
{{ toYaml .Values.hive.spec.metastore.resources | indent 10 }}
{{- if .Values.hive.spec.metastore.config.tls.enabled }}
      - name: ghostunnel-server
        image: {{ .Values.__ghostunnel.image.repository }}:{{ .Values.__ghostunnel.image.tag }}
        imagePullPolicy: {{ .Values.__ghostunnel.image.pullPolicy }}
        env:
        - name: HIVE_METASTORE_CA_CRTFILE
          value: /opt/hive/tls/ca.crt
        - name: HIVE_METASTORE_KEYFILE
          value: /opt/hive/tls/tls.key
        - name: HIVE_METASTORE_CRTFILE
          value: /opt/hive/tls/tls.crt
        command: ["ghostunnel"]
        args:
        - server
        - --listen
        - localhost:8443
        - --target
        - localhost:9083
        - --key
        -  $(HIVE_METASTORE_KEYFILE)
        - --cert
        - $(HIVE_METASTORE_CRTFILE)
        - --cacert
        -  $(HIVE_METASTORE_CA_CRTFILE)
        - --allow-cn
        - Any
        ports:
        - name: ghostunnel
          containerPort: 8443
        volumeMounts:
        - name: hive-metastore-tls-secret
          mountPath: /opt/hive/tls
{{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: {{ .Values.hive.spec.terminationGracePeriodSeconds }}
      serviceAccount: hive
{{- if .Values.hive.spec.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.hive.spec.imagePullSecrets | indent 8 }}
{{- end }}
      volumes:
      - name: hive-config
        configMap:
          name: hive-config
      - name: hive-scripts
        configMap:
          name: hive-scripts
          defaultMode: 0555
{{- if .Values.hive.spec.config.useHadoopConfig }}
      - name: hadoop-config
        secret:
          secretName: {{ .Values.hive.spec.config.hadoopConfigSecretName }}
{{- end }}
      - name: hive-jmx-config
        configMap:
          name: hive-jmx-config
      # these emptyDir volumes are necessary because Openshift requires VOLUMEs
      # in a Dockerfile have a corresponding volumeMount
      - name: namenode-empty
        emptyDir: {}
      - name: datanode-empty
        emptyDir: {}
      - name: hadoop-logs
        emptyDir: {}
      - name: hive-metastore-db-data
{{- if .Values.hive.spec.metastore.storage.create }}
        persistentVolumeClaim:
          claimName: hive-metastore-db-data
{{- else }}
        emptyDir: {}
{{- end }}
{{- if .Values.hive.spec.config.sharedVolume.enabled }}
      - name: hive-warehouse-data
        persistentVolumeClaim:
          claimName: {{ .Values.hive.spec.config.sharedVolume.claimName }}
{{- end}}
