apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: metering-operator
rules:
  - apiGroups:
    - metering.openshift.io
    resources:
    - '*'
    verbs:
    - '*'
  - apiGroups:
    - monitoring.coreos.com
    resources:
    - servicemonitors
    verbs:
    - '*'
  - apiGroups:
    - ""
    resources:
    - pods
    - pods/attach
    - pods/exec
    - pods/portforward
    - pods/proxy
    verbs:
    - '*'
  - apiGroups:
    - ""
    resources:
    - con***REMOVED***gmaps
    - endpoints
    - persistentvolumeclaims
    - secrets
    - serviceaccounts
    - services
    - services/proxy
    verbs:
    - '*'
  - apiGroups:
    - ""
    resources:
    - events
    - namespaces/status
    - pods/log
    - pods/status
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - ""
    resources:
    - events
    verbs:
    - create
    - update
    - patch
  - apiGroups:
    - ""
    resources:
    - namespaces
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - apps
    resources:
    - daemonsets
    - deployments
    - deployments/rollback
    - deployments/scale
    - replicasets
    - replicasets/scale
    - statefulsets
    verbs:
    - '*'
  - apiGroups:
    - batch
    resources:
    - cronjobs
    - jobs
    verbs:
    - '*'
  - apiGroups:
    - extensions
    resources:
    - daemonsets
    - deployments
    - deployments/rollback
    - deployments/scale
    - replicasets
    - replicasets/scale
    verbs:
    - '*'
  - apiGroups:
    - rbac.authorization.k8s.io
    resources:
    - rolebindings
    - roles
    verbs:
    - '*'
  - apiGroups:
    - route.openshift.io
    resources:
    - routes
    verbs:
    - '*'

