---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: chargeback-admin
rules:
- apiGroups: ["chargeback.coreos.com"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups:
  - ""
  resources:
  - configmaps
  - event
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: chargeback
  labels:
    app: chargeback
{{- block "extraMetadata" . }}
{{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: chargeback-admin
subjects:
- kind: ServiceAccount
  name: chargeback
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: chargeback
  labels:
    app: chargeback
{{- block "extraMetadata" . }}
{{- end }}
