apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: chargeback-helm-operator
  labels:
    app: chargeback-helm-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: chargeback-helm-operator
    spec:
      containers:
      - name: chargeback-helm-operator
        image: quay.io/coreos/chargeback-helm-operator:0.5.0-rc2
        imagePullPolicy: Always
        env:
        - name: HELM_VALUES_SECRET_NAME
          value: chargeback-settings
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: HELM_HOST
          value: "127.0.0.1:44134"
        - name: SET_OWNER_REFERENCE_VALUE
          value: "true"
        - name: HELM_WAIT
          value: "false"
        - name: HELM_RECONCILE_INTERVAL_SECONDS
          value: "120"
        - name: RELEASE_HISTORY_LIMIT
          value: "3"
        resources:
          requests:
            memory: "25Mi"
            cpu: "50m"
          limits:
            memory: "25Mi"
            cpu: "50m"
      - name: tiller
        image: gcr.io/kubernetes-helm/tiller:v2.6.2
        imagePullPolicy: Always
        env:
        - name: TILLER_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: TILLER_HISTORY_MAX
          value: "3"
        resources:
          requests:
            memory: "50Mi"
            cpu: "50m"
          limits:
            memory: "100Mi"
            cpu: "50m"
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /liveness
            port: 44135
            scheme: HTTP
          initialDelaySeconds: 1
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /readiness
            port: 44135
            scheme: HTTP
          initialDelaySeconds: 1
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      serviceAccount: chargeback-helm-operator
      imagePullSecrets:
      - name: coreos-pull-secret
